<div class="row evalPatientBox">
  <h1><%= @evaluation.test.description %></h1>
  <h1><%= @evaluation.created_at %></h1>
  <h1><%= @evaluation.patient.full_name %></h1>
  <h1><%= @evaluation.score %></h1>
</div>
