<div class="box evalPatientBox">
  <div class="evalBoxRightVerticalSub">
    <div class="graphWrapper">
      <canvas id="myChart" width="517" height="345"></canvas>
      <h2 class="graphTitle"></h2>
    </div>
  </div>
</div>
