<div class="box selectPatientBox">
  <h1>Select Patient to Edit</h1>
    <ul>
      <% @patients.each do |patient| %>
        <li><%= link_to patient.last_name + ", " + patient.first_name + " | " + patient.gender + " | " + patient.email, edit_patient_path(patient) %></li>
      <% end %>
    </ul>
</div>
