html a {
  text-decoration: none;
}

html a:link {
  color: white;
}

html a:visited {
  color: #E4E4E4;
}

html a:hover {
  color: #535353;
  font-weight: bold;
}

html a:active {
  color: #383838;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
}

#NavBar {
  position: fixed;
  top: 2.5%;
  left: 85%;
  z-index: 10;
  width: 12%;
  height: 90%;
  background-color: rgba(57, 57, 57, 0.5);
  margin: 0 auto;
  padding: 1%;
  color: white;
  border-radius: 1% / 1%;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.4);
  text-align: center;
}

#NavBar h1 {
  top: 5%;
  font-size: 1.9em;
}

#NavBar h3, h4 {
  margin: 5% 0 5% 0;
}

#NavBar div {
  position: relative;
  top: 15px;
  margin: 0 auto;
}

.activities {
  position: fixed;
  background-color: rgb(84, 84, 84);
  padding: 3% 0 3% 0;
  border-radius: 1% / 1%;
  color: white;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.4);
}

.activities a:hover {
  color: #9B9B9B;
  font-weight: bold;
}

#NavBar div form {
  padding-left: 12%;
  text-align: left;
}

#Main {
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  margin: 0%;
  background-color: #9b9b9b;
  width: 100%;
  height: 98%;
}

#Main h1 {
  margin: 2% 0 2% 0;
  font-size: 1.9em;
}

.box {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 60%;
  height: 70%;
  background-color: #373737;
  border-radius: 1% / 1%;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.4);
  padding: 1% 2% 1% 2%;
  color: white;
  text-align: justify;
  display: inline-block;
  z-index: 10;
}

.evalBoxLeftVerticalSub {
  position: absolute;
  top: 2.5%;
  left: 3%;
  width: 42%;
  height: 90%;
  background-color: black;
  border-radius: 1% / 1%;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.4);
  padding: 1% 2% 1% 2%;
  color: white;
  text-align: justify;
  display: inline;
  z-index: 10;
}

.currentEvalBox {
  position: absolute;
  top: 20%;
  left: 3.2%;
  width: 90%;
  height: 75%;
  background-color: white;
  border-radius: 1% / 1%;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.4);
  padding: 1% 2% 1% 2%;
  color: black;
  text-align: justify;
  display: none;
  z-index: 10;
}

.currentEvalBox a:link {
  color: #949494;
  margin: 4% 0 4% 0;
}

.currentEvalBox a:visited {
  color: #949494;
  margin: 4% 0 4% 0;
}

.currentEvalBox div {
  margin: 4% 0 4% 0;
}

.evalBoxRightVerticalSub {
  position: absolute;
  top: 2.5%;
  left: 51%;
  width: 42%;
  height: 90%;
  background-color: gray;
  border-radius: 1% / 1%;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.4);
  padding: 1% 2% 1% 2%;
  color: black;
  text-align: justify;
  display: none;
  z-index: 10;
}

#myChart {
  top: 10%;
  left: 5%;
  width: 99%;
  background-color: white;
  border-radius: 1% / 1%;
  box-shadow: 5px 5px 10px rgba(43, 43, 43, 0.4);
}

.graphTitle {
  text-align: center;
  color: white;
}

.newTestForm {
  margin: 2% 0 2% 0;
  width: 30%;
}

.newTestTextarea {
  width: 100%;
}

.addComponent {
  display: block;
}

.newTestComponentText {
  display: block;
}

/*remove after testing*/

/*.regPatientBox {
}

.evalPatientBox {
  display: none;
}

.createTestBox {
  display: none;
}*/

